{% extends 'template_base.html' %}

{% block title %}PurBeurre{% endblock %}

{% block contenu %}

<!--Top of page-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Du gras, oui, mais de qualité !</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">
                <h2>Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>
                </p>
                <input class="form-control me-2" type="search" placeholder="Produit" aria-label="Search" id="str_user" value=""><button
                    class="btn btn-outline-success" type="submit">Chercher</button>
            </div>
        </div>
    </div>
</header>

{% endblock %}