<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/image/pur_beurre.png" sizes="16x16">
    <title>Pur beurre</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>

    <!--Top of page-->
    <header>
        <h1>Mieux manger, c'est important.</h1>
    </header>

    <!--Contained-->
    <div id="content">
        <h2>Comment ça marche ?</h2>

        <div id="cases"> 
            <div id="case1">
                <p> 
                    1. Choisissez un produit que vous voulez de meilleur qualité.
                </p>
                <img src="/static/image/nutella.png" alt="nutella" WIDTH=175 HEIGHT=175/>
            </div>
            <div id="case2">
                <p>    
                    2. Rentrer ce produit dans le barre de cherche situer en bas.
                </p>
                <img src="/static/image/loading.png" alt="loading" WIDTH=400 HEIGHT=300/>
            </div>
            <div id="case3">
                <p> 
                    3. Le site va vous proposer un produit de substitue de meilleur qualité.
                </p>
                <img src="/static/image/nocciolata.png" alt="nocciolata" WIDTH=175 HEIGHT=175/>
            </div>
            <div id="case4">
                <p> 
                    4. Connectez-vous pour sauvegarder le substitue dans votre espace ou alors inscrivez vous. 
                </p>
                <img src="/static/image/se-connecter.png" alt="connexion" WIDTH=350 HEIGHT=175/>
            </div>
        </div>
    </div>

    <div id="search">
        <input class="input" type="text" id="str_user" value=""
                        placeholder="Ecrivez ici le produit">
    </div>

    <!--Footer-->
    <footer>

    </footer>

</body>
<script type="text/javascript" src="/static/script.js"></script>
</html>